<h2 class="page-title"><%= title %></h2>
<div class="column left-column">
  <p id="bio-paragraph"><%= bio %></p>
</div>
<div class="column right-column">
  <div class="image-container">
    <img src="<%= image %>"/>
    <div class="caption"><%= caption %></div>
  </div>
</div>

