<div class="form">
  <form id="contact-form" action="" method="post">
    <input placeholder="Name" id="contact-name" class="form-input" type="text" name="post[name]" required>
    <input placeholder="Email" id="contact-email" class="form-input" type="email" name="post[email]"required>
    <textarea placeholder="Message" id="contact-message" class="form-input" type="textarea" name="post[message]" required></textarea>
    <input id="contact-submit" class="form-input" type="submit" value="Send">
  </form>
</div>
