<!DOCTYPE html>
<html>
<head>
<title>Sofia Montgomery</title>
</head>

<body class="<%= classes %>">
  <div id="header">
    <h1 class="title">Sofia Montgomery</h1>
    <h2 class="subtitle">AEA Stage Manager</h2>
  </div>
  <nav class="menu">
    <ul>
      <li><a href="/">Home</a>
      <li><a href="/bio">Bio</a>
      <li><a href="/projects">Current Projects</a>
      <li><a href="/resume">Resume</a>
      <li><a href="/contact">Contact</a>
    </ul>
  </nav>
  <div class="content">
    <%= yield %>
  </div>
</body>

</html>
