/* 300: light, 400: normal, 600: semibold */

body {
  max-width: 940px;
  margin: 0 auto;
}

body, input, .form {
  font-family: 'Open Sans', sans-serif;
}

#header {
  display: block;
  vertical-align: bottom;
  margin-bottom: 5px;
}

.title {
  font-weight: 300;
  margin: 0px;   
  display: inline-block;
}

.subtitle {
  font-weight: 400;
  margin: 0px;
  display: inline-block;
  font-size: 1.2em;
}

.menu {
  background-color: #95D4E2;
  height: 50px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 -8px;
  display: table;
}

.menu .menu-link {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 25%;
  height: 100%;
  color: #eee;
}

.menu .menu-link:hover {
  background-color: #4183B5;
}

a.menu-link,
a.menu-link:hover,
a.menu-link:visited,
a.menu-link:active {
  text-decoration: none;
}

.menu-link {
  border-bottom: 3px transparent solid;
}

.bio .menu-link-bio {
  border-bottom-color: #4D6469;
}

.projects .menu-link-projects {
  border-bottom-color: #5F9898;
}

.resume .menu-link-resume {
  border-bottom-color: #F8DB77;
}

.contact .menu-link-contact {
  border-bottom-color: #BA4853;
}

.content {
  max-width: 90%;
  margin: 20px auto;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.page-title {
  font-weight: bold;
  font-size: 1.5em; 
  display: block;
}

footer {
  width: 100%;
  margin 20px auto;
  text-align: center;
  font-size: 12px;
}

.column {
  float: left;
  margin: 0;
  width: 45%;
  padding: 10px;  
}

.right-column {
  float: right;
}

.image-container img {
  outline: 2px #95D4E2 solid;
  max-width: 846px;
}

.bio .image-container img {
  outline-color: #4D6469;
}

.projects .image-container img {
  outline-color: #5F9898;
}

.resume .image-container img {
  outline-color: #F8DB77;
}

.resume .image-container,
.projects .image-container {
  text-align: center;
}

.caption {
  font-size: 10px;  
  font-weight: 600;
}

.form-input {
  display: block;  
  margin: 20px auto;
  width: 300px;
  height: 25px;
  font-size: 16px;
}

.contact .contact-info {
  margin: auto;
  width: 80%;
  text-align: center;
}

#contact-submit {
  width: 100px;
  cursor: pointer;
  padding: 5px 15px;
  background-color: #BA4853;
  border: 0;
  line-height: 12px;
  color: #eee;
}

#contact-message {
  height: 100px;
}

@media (max-width: 920px) {
  /* undo column layout on lower widths */
  .column {
    float: none;
    width: 100%;
  }  

  .column .image-container {
    text-align: center;
  }
}
